a {
  width: fit-content;
}

h2 {
  text-align: center;
}

.new-post::after {
  display: none;
}

.new-post-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  justify-self: center;
}

.posts {
  color: #111827;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  row-gap: 1rem;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  height: 100vh;
}

.post {
  background-color: white;
  box-shadow: 0 -2px 0 #00000026;
  width: 100%;
  height: 100%;
}

.post.hidden {
  filter: grayscale(1);
}

.post-date {
  color: #4b5563;
  margin-top: -1.25rem;
}

.post-text {
  margin-top: 1.25rem;
  height: 4rem;
}

.post-banner {
  width: inherit;
}

.post>*:not(img) {
  padding-left: 10px;
}

.post img {
  height: 12.5rem;
  object-fit: cover;
  object-position: center;
}

.rectangle {
  box-sizing: border-box;
  background-color: #0ea5e9;
  width: 100%;
  height: 0.2rem;
}

.post-buttons {
  display: flex;
  gap: 2rem;
  padding-bottom: 10px;
}

.post-buttons button {
  width: 5.5rem;
  text-align: center;
}

.post-buttons button:disabled {
  background-color: #6e7f87;
  box-shadow: inset 0 2px hsl(201, 10%, 55%), 0 2px 3px hsla(0, 0%, 0%, .2);
  color: white;
}

.deletion-warning {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  z-index: 2;
  background-color: #f0f9ff;
  border: 2px solid #dc2626;
  color: #111827;
  text-align: center;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.75s ease-in-out, visibility 0.75s ease-in-out, top 0.75s ease-in-out;
}

.deletion-warning.hidden {
  opacity: 0;
  visibility: hidden;
  top: -10vh;
}

.deletion-warning h4 {
  color: #dc2626;
}

.deletion-warning .btn-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}