p {
    color: #111827;
}

.blogpost {
    display: flex;
    flex-direction: column;
}

.blogpost h2 {
    color: #111827;
    text-align: center;
}

.blogpost .date {
    color: #4b5563;
    text-align: center;
}

.blogpost img {
    height: 15rem;
    width: 25rem;
    align-self: center;
}

.blogpost .content {
    width: 80%;
    align-self: center;
    line-height: 2rem;
    white-space: pre-wrap;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    color: #111827;
    width: fit-content;
}

form input {
    width: 20rem;
    height: 1.5rem;
    box-shadow: 0 -2px 0 hsla(0, 0%, 100%, .15), inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
    border: none;    
}

form textarea {
    font-family: inherit;
    width: 25rem;
    height: 10rem;
    resize: none;
    word-wrap: break-word;
    box-shadow: 0 -2px 0 hsla(0, 0%, 100%, .15), inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
    border: none;
}

form button {
    width: 8rem;
    height: 2rem;
    align-self: center;
    background-color: #0da2e7;
    border: none;
    box-shadow: inset 0 2px hsl(199, 89%, 65%), 0 2px 3px hsla(0, 0%, 0%, .2);
    border-radius: .3rem;
}

.blog-comment {
    
}